.add_button {
  height: 30px;
  width: 200px;
  border: 1px solid #212121;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  border-radius: 5px;
  transition: transform 0.25s;
  margin-bottom: 30px;
}
.add_button:hover {
  background-color: rgb(212, 240, 217);
}
