.contact_list_item {
  display: flex;
  justify-content: space-between;
  width: 458px;
  border: 1px solid#212121;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 10px;
  align-items: center;
  transition: transform 0.25s;
}
.contact_list_item:hover {
  transform: scale(1.03);
}
.contact_list {
  padding: 0;
}

.contact_list_contact {
  margin: 0;
  font-size: 16px;
}
.delete_btn {
  width: 90px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.25s;
}
.delete_btn:hover {
  background-color: red;
  color: aliceblue;
  border: red;
  border-radius: 10px;
}
